<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">
      <div>For any request or help regarding newsletter contact the copilot <a href="https://www.topcoder.com/members/darak/">DaraK</a> </div>
    </h2>
  </div>
</footer>
